:root{
    --gris: #EDEDED;
    --verdeClaro:  #128C7E
    ;
    --verdeOscuro: #25A55F;
    --azulOscuro: #34B7F1;
    --grisOscuro:  #555555;

}
body{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section__buscar{
    width: 35%;
    background-color: var(--gris);
    height: 41rem;
    text-align: center;
    border: 1px lightgray solid;
}
.barra__mensajes{
    width: 100%;
    height: 10%;
    background-color: var(--gris);
    margin-bottom: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.nombre__chat{
    font-size: 18px;
}
.section__buscar img{
    cursor: pointer;
}
.buscar__mensajes{
    display: flex;
    width: 98%;
    height: 6%;
    background-color: #ffffff;
    border-radius: 20px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 40px;
    text-align-last: center;
}
.buscar__mensajes input{
    border: none;
    margin-bottom: 10px;
}
.buscar__principal{
    display: flex;
    flex-direction:column ;
    background-color: #ffffff;
    width: 100%;
    border: 1px solid var(--grisOscuro) ;
    border: none;
    height: auto;
}
.fecha{
    font-size: 15px;
    color: var(--grisOscuro);
    text-align: start;
    font-weight: bold;
    margin: 15px 15px;
}
.mensajes{
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.mensajes span{
    height: 100%;
}
input{
    width: 50%;
    border: none;
    cursor: pointer;
    height: 50%;
}

@media(max-width: 500px){
    .section__buscar{
        width: 100%;
    }
}