:root{
    --gris: #EDEDED;
    --verdeClaro:  #128C7E
    ;
    --verdeOscuro: #25A55F;
    --azulOscuro: #34B7F1;
    --grisOscuro:  #555555;

}
body{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
