@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */


/* Definiendo los colores */

/* BIENVENIDO */

:root{
    --gris: #EAEFC4;
    --verdeClaro: #9BDF46;
    --verdeOscuro: #25A55F;
    --oscuro: #346473;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(#EAEFC4, #9BDF46);
    background-attachment: fixed;

}

.inicial{
    text-align: center;
    width: 50%;
    margin: 5% 25%;
    display: flex;
    flex-direction: column;
}
.inicial h1{
    font-size: 3rem;
}
.div__inicial{
    width: 100%;
    height: 60%;
}
.div__inicial h3{
    margin-bottom: 6%;
    font-size: 1.3rem;
    margin-top: 0;
    font-weight: 300;
}

.inicial button{
    cursor: pointer;
    width: 40%;
    height: 3.5rem;
    border: none;
    border-radius: 15px;
    background-color: var(--gris);
    font-weight: 500;
    font-size: 1rem;
}
.inicial button:hover{
    background-color: var(--oscuro);
}
.inicial__secundario{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}    
.inicial__secundario img{
    width: 30%;
}
.spn__wpp{
    font-size: 2.5rem;
    font-family: 'Varela Round', sans-serif;
}

.hidden{
    display: none;
}
.hidden__inicioSesion{
    display: none;
}

/* INICIO SESION */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */


/* Definiendo los colores */

:root{
    --gris: #EAEFC4;
    --verdeClaro: #9BDF46;
    --verdeOscuro: #25A55F;
    --oscuro: #346473;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(24deg, #EAEFC4, #9BDF46, #EAEFC4);
    background-attachment: fixed;

}

.btn__atras{
    height:20%;
    font-size: 90%;
    border-radius: 15px;
    border: none;
    background-color: var(--gris);
    cursor: pointer;
    font-weight: 700;
    width: 15%;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
}

.inicio{
    text-align: center;
    width: 50%;
    margin: 4% 25%;
    display: flex;
    flex-direction: column;
}
#formulario{
    height: 20rem;
}
.recuadro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
legend{
    font-size: 30px;
    margin-bottom: 30px;
}
.titulo-input{
    font-size: 22px;
    margin: 10px 0;
    font-weight: 500;
    
}
input{
    height: 16%;
    width: 50%;
    border-radius: 15px;
    border: none;
    background-color: var(--gris);
    font-size: 17px;
    padding: 0 10px;
}
input:hover{
    background-color: var(--oscuro)
}
.btn__entrar{
    margin-top: 15px;
    height:15%;
    font-size: 90%;
    border-radius: 15px;
    border: none;
    background-color: var(--gris);
    cursor: pointer;
    font-weight: 700;
    width: 20%;
}
.btn__entrar:hover{
    background-color: var(--oscuro)
}
.inicial__secundario{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}    
.inicial__secundario img{
    width: 30%;
}
.spn__wpp{
    font-size: 2.5rem;
    font-family: 'Varela Round', sans-serif;
}

/* PARTE DEL HOME */

:root{
    --colorGris: #ededed;
}

*{
    box-sizing: border-box;
    margin: 0;

}

.header{
    width: 100%;
    height: 20%;
    background-color: var(--colorGris);
    display: flex;
}

.perfil_usuario{
    width: 30%;
    border-right: 1px solid grey;
}

.foto_perfil{
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    margin-left: 20px;
}

.perfil_mensaje{
    width: 70%;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.foto_perfilContacto{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
}
.datos_contacto{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 80%;
}

.nombre_perfil{
    font-weight: bolder;
    font-size: 20px;
}
.estado_perfil{
    font-size: 12px;
    color: grey;
}

main{
    height: 80%;
    display: flex;
    height: 460px;
}

.espacio_contactos{
    width: 29.4%;
}
.contenedor_buscar{
    width: 100%;
    height: 60px;
    background-color: rgb(243, 243, 243)
}
.buscar_contacto{
    display: flex;
    width: 90%;
    height: 70%;
    margin-left: 18px;
    background-color: white;
    border-radius: 35px;
    display: flex;
    align-items: center;
    position: relative;
    top:8px;
}
.icono_buscar_contacto{
    margin-left: 1rem;
}
.input_buscar_contacto{
    border: none;
    width: 80%;
    margin-left: 1rem;
    font-size: 17px;
}

.contenedor_contactos{
    display: flex;
    flex-direction: column;
}

.tarjeta_contacto{
    height: 65px;
    background-color: rgb(253, 254, 254);
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(171, 171, 171);
}

.union_foto_contacto{
    width: 20%;
}
.foto_contacto{
    height: 65%;
    width: 65%;
    border-radius: 50%;
    margin: 0.5rem;
}

.union_mensaje{
    display: flex;
    flex-direction: column;
}

.nombre_dia_mensaje{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.2rem;
    padding-right: 0.3rem;
}
.nombre_contacto{
    font-size: 18px;
    font-weight: bolder;
}
.dia_mensaje{
    color: rgb(107, 107, 107);
    font-size: 14px;
}

.icono_texto_mensaje{
    display: flex;
    justify-content: flex-start
}
.icono_ckeck{
    height: 16px;
}

.mensaje_contacto{
   font-size: 12px;
   color: rgb(107, 107, 107);
}


.espacio_mensajes{
    width: 70.6%;
}

.visualizacion_mensajes{
    margin: 0;
    height: 487px;
    width: 100%;
    background-image: url(https://i.pinimg.com/originals/d4/63/7b/d4637b476b7b908c9fde1107a83b00fe.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: baseline; */
}

.dia_envio_mensaje{
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgb(217, 235, 250);
    border-radius: 8px;
    max-width: max-content;
    align-self: center;
}

.mensaje_entrada{
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgb(253, 248, 248);
    max-width: 50%;
    display: flex;
    align-content: start;
    margin-left: 1rem;
}

.mensaje_salida{ 
    font-size: 18px;
    padding: 5px 10px;
    background-color: rgb(210, 255, 199);
    max-width: 50%;
    display: flex;
    align-content:end;
    /* position: relative; */
    /* left: 500px;    */
    
    /* display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    background-color: rgb(210, 255, 199);
    width: 50%;
    margin-left: 450px;
    align-items:center; */
}

.escribir_mensajes{
    height: 60px;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
}

.input_mensaje{
    width: 84%;
    height:60%;
    border-radius: 20px;
    border: none;
    margin-left: 1rem;
}

.icono_enviar_mensajes{
    margin-left: 1rem;
    margin-right: 0.2rem;
} 

/* RESPONSIVE */

@media(max-width:580px){
    .btn__entrar{
        width: auto;
    }
    .inicial__secundario img{
        width: 60%;
    }
}









/* parte responsive */

@media(max-width:500px){
    main{
        text-align: center;
        margin: 0;
    }
    .inicial button{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
}