@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */


/* Definiendo los colores */

:root{
    --gris: #EAEFC4;
    --verdeClaro: #9BDF46;
    --verdeOscuro: #25A55F;
    --oscuro: #346473;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(24deg, #EAEFC4, #9BDF46, #EAEFC4);
    background-attachment: fixed;

}
.inicio{
    text-align: center;
    width: 50%;
    margin: 4% 25%;
    display: flex;
    flex-direction: column;
}
.formulario{
    height: 20rem;
}
.recuadro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
legend{
    font-size: 30px;
    margin-bottom: 30px;
}
.titulo-input{
    font-size: 22px;
    margin: 10px 0;
    font-weight: 500;
    
}
input{
    height: 16%;
    width: 50%;
    border-radius: 15px;
    border: none;
    background-color: var(--gris);
    font-size: 17px;
    padding: 0 10px;
}
input:hover{
    background-color: var(--oscuro)
}
.btn__entrar{
    margin-top: 15px;
    height:15%;
    font-size: 90%;
    border-radius: 15px;
    border: none;
    background-color: var(--gris);
    cursor: pointer;
    font-weight: 700;
    width: 20%;
}
.btn__entrar:hover{
    background-color: var(--oscuro)
}
.inicial__secundario{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}    
.inicial__secundario img{
    width: 30%;
}
.spn__wpp{
    font-size: 2.5rem;
    font-family: 'Varela Round', sans-serif;
}

@media(max-width:580px){
    .btn__entrar{
        width: auto;
    }
    .inicial__secundario img{
        width: 60%;
    }
}